:root {
  --iris: #4D5AE5;
  --ocean: #404bbf;  
  --navy-blue: #2E2F42;
  --white: #FFFFFF;
  --slate: #434455;
  --green: #31D0AA;
  --light-slate: #838f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px;
  border-style: solid;
  border-bottom-color: #e7e9fc;
  }

/* Header Section */

.main-header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.web-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  }

.studio-logo {
    color: var(--navy-blue);
}  

.nav {
  display: flex;
  align-items: center;
}

 .nav-menu {
  display: flex;
  gap: 40px;
 }

.nav-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
} 
 
.nav-menu-item .link:hover .link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contact {
  display: flex;
  gap: 40px;
}

.contact-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-right: 40px;
}

.contact-item .link:hover .link:focus {
  color: #404bbf;
}



/* Footer Section */

.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
  }

.footer-container .link {
  display: inline-block;
  margin-bottom: 16px;
}

.textlogo-footer {
  color: #f4f4fd;
}

.footer-content {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* Hero Image - First Section */

.hero-image {
  background-color: var(--navy-blue);
  padding: 188px 0 188px;
}

.main-page-banner {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  max-width: 496px;
}

.hero-image .button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  
  }

.hero-image .button:hover, .button:focus {
  background-color: #404bbf;
}

.main-header-container {
  display: flex;
}

/* Second Section */

.features-section {
  padding: 120px 0 120px;
}

.features {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item .features-item-header {
  margin-bottom: 8px;
}

.features-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue)
}

.features-item-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.hidden-header {
  visibility: hidden;
  }

/* Third Section */

.main-page-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* Fourth Section */

.team {
  background-color: #f4f4fd;
}

.members {
  background-color: #FFFFFF;
}

.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.member-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* Portfolio Main */

.filters .button {
  color: var(--iris);
  background-color: var(--cloud);
}

.filters .button:hover, .button:focus {
  color: #FFFFFF;
  background-color: #404bbf;
}

.project-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);  
}

.project-card-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}