:root {
  --iris: #4D5AE5;
  --ocean: #404bbf;  
  --navy-blue: #2E2F42;
  --white: #FFFFFF;
  --slate: #434455;
  --green: #31D0AA;
  --light-slate: #838f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
}

.weblogo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }

.textlogo {
  color: var(--navy-blue);

}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-link .link {
  color: var(--navy-blue);
}

.nav-link .link:focus {
  color: #404bbf
}

.nav-link .link:hover {
  color: #404bbf;
}

address {
  font-style: normal;
}

.nav-contact .link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.nav-contact .link:hover {
  color: #404bbf;
}

.nav-contact .link:focus {
  color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.hero-image {
  background-color: var(--navy-blue);
}

.hero-image .header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.hero-image .button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  }

.hero-image .button:hover, .button:focus {
  background-color: #404bbf;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}


.list .button {
  color: var(--iris);
  background-color: var(--cloud);
}

.list .button:hover, .button:focus {
  color: #FFFFFF;
  background-color: #404bbf;

}

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);

}

.team {
  background-color: #f4f4fd;
}

.members {
  background-color: #FFFFFF;
}


.footer {
  background-color: var(--navy-blue);
}

.textlogo-footer {
  color: #f4f4fd;
}

.goal {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);

}

.header-one {
  visibility: hidden;
}